.accordion_item {

 .hidden {
    display: none;
 }
 .input {
   width: 100%;
   margin-bottom: 5px;
 }
 .button {
    margin-top: 15px;
    margin-bottom: 15px;
 }
 .checkBox {
    margin-top: 10px;
    margin-bottom: 5px;
 }
 .numericInputError {
    color: red;
    width: 100%;
    margin-bottom: 5px;
 }
 .numericInputError::after {
   content: 'Please enter at least one whole, positive number';
 }
 .codeLengthError {
   color: red;
   width: 100%;
   margin-bottom: 5px;
 }
 .codeLengthError::after {
   content: 'Code length must be between one and ten characters';
 }
 .decimalInputError {
   color: red;
   width: 100%;
   margin-bottom: 5px;
 }
  .decimalInputError::after {
    content: 'Please enter decimal values';
  }
  .decimalRangeError {
    color: red;
    width: 100%;
    margin-bottom: 5px;
  }
  .decimalRangeError::after {
    content: 'Please enter decimal number in range from 0.0 to 1.0';
  }
  .dateTimeFormatError {
    color: red;
    width: 100%;
    margin-bottom: 5px;
  }
  .dateTimeFormatError::after {
    content: 'Please enter date in yyyy/mm/dd and time in hh/mm format';
  }
  .prefixLengthError {
    color: red;
    width: 100%;
    margin-bottom: 5px;
  }
  .prefixLengthError::after {
    content: 'Maximum prefix length is two characters. Please enter prefix again';
  }
}


